@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-manrope), sans-serif;
}

@theme {
  --max-width: 1200px;
  --color-black: #202020;
  --color-white: #fff;
  --color-border-gray: #e2e2e2;
  --color-error: #fd0000;
  --color-salmon: #de6e6e;
  --base-duration: 200ms;
  --base-easing: linear;
}
